# CMake build folders
build/
cmake-build-debug/
CMakeFiles/
CMakeCache.txt
*.cmake.user

# Third-party binaries
Thirdparty/

# Editor and OS files
*.swp
*.swo
*.bak
*.tmp
*.DS_Store
.idea/
.vscode/Thirdparty/
