# Ignore CMake build folders
cmake-build-debug/
CMakeFiles/
CMakeCache.txt
*.cmake.user

# Ignore third-party binaries
Thirdparty/

# Editor and OS files
*.swp
*.swo
*.bak
*.tmp
*.DS_Store
.idea/
.vscode/